html,
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #333;
}

.full-page {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.full-page-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #666;
  box-shadow: 0 0 5px 0 #9a9a9a;
}

.full-page-message {
  color: #333;
  font-size: 25px;
}

.loby {
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.room-row {
  display: flex;
  align-items: center;
}

.room-code {
  padding: 5px;
  flex-grow: 1;
}

.room-label {
  font-size: 10px;
}

.room-code-value {
}

.room-link {
  padding: 5px;
}

.room-label {
}

.room-link-value {
  font-size: 10px;
  color: hsl(240deg 80% 60%);
  text-decoration: none;
}

.room-link-copied {
  color: white;
  font-size: 10px;
}

.room-link-copied.true {
  color: black;
}

.room-button {
  width: 18px;
  padding: 0px 5px;
  cursor: pointer;
  fill: #777;
}

.room-button:hover {
  fill: #444;
}

.room-button.copy {
}

.room-button.edit {
}

.edit-room-row {
  background: #eee;
  padding: 5px;
  display: flex;
  flex-direction: column;
  transform-origin: top;
}

.edit-room-row.false {
  transform: scaleY(0);
  max-height: 0;
  transition: transform 0.2s ease, max-height 0.2s ease 0.2s;
}

.edit-room-row.true {
  transform: scaleY(1);
  max-height: 200px;
  transition: transform 0.2s ease 0.2s, max-height 0.2s ease;
}

.edit-room-title {
  font-size: 10px;
}

.edit-room-input {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

.edit-room-buttons {
  display: flex;
  margin: 5px 0;
}

.edit-room-button {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px;
  min-width: 80px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #bbb;
  cursor: pointer;
  margin: 0 5px;
  box-shadow: 1px 1px 2px 0 #c1c1c1;
  font-size: 14px;
}

.edit-room-button.secondary {
}

.edit-room-button.primary {
  background: #4c8ebf;
  border-color: #3274a5;
}

.edit-room-button:hover {
  filter: brightness(1.2);
}

.user {
}

.user-label {
  font-size: 10px;
  text-align: center;
}

.user-circle {
  border-radius: 100%;
  margin: 0 5px;
  font-size: 30px;
  box-shadow: 0 0 2px 0 #000;
}

.user-icon {
  padding: 4px 8px 1px 8px;
}

.players {
}

.players-label {
  font-size: 10px;
  padding-left: 10px;
}

.players-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.player-circle {
  border-radius: 100%;
  margin: 5px;
  margin-right: 0;
  font-size: 20px;
  box-shadow: 0 0 2px 0 #000;
}

.user-circle.red,
.player-circle.red {
  background: hsl(0deg 80% 60%);
}
.user-circle.blue,
.player-circle.blue {
  background: hsl(240deg 80% 60%);
}
.user-circle.green,
.player-circle.green {
  background: hsl(120deg 80% 60%);
}
.user-circle.magenta,
.player-circle.magenta {
  background: hsl(300deg 80% 60%);
}
.user-circle.cyan,
.player-circle.cyan {
  background: hsl(180deg 80% 60%);
}
.user-circle.yellow,
.player-circle.yellow {
  background: hsl(60deg 80% 60%);
}

.player-icon {
  padding: 2px 4px 1px 6px;
}
